/* HEADER */

.header-head {
	display: flex;
	align-items: center;
	min-height: 80px;
	max-height: 100px;
	padding: 10px 0;

	/* debug */
	background-color: #3161e0;
}

.header-nav {
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    line-height: 30px;
}

.header-nav>* {
	display: flex;
	
	padding: 5px 10px;

	/* debug */
	background-color: #3161e0;
}

.header-links a{
    padding: 0 25px;
}

.header-login {
	text-align: right;
	width: 68px;
    border-radius: 40px;
	padding-right: 12px;
	border: none;
}
.login-btn{
	font-size: 200;
	padding: 10px;
}
/* JUMBOTRON */

.jumbotron {
    height: 490px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    background-color: darkblue;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.jumbotron .content {
	color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 400px;
	width: 50%;
	text-align: center;

	/* debug */
	background-color: transparent;
}

h1 {
    margin: 15px 0 40px;
}
.container-btn-jumbotron {
	display: flex;
    justify-content: space-evenly;
    padding: 20px;

}

.btn-download, .btn-browser{
	padding: 10px 40px;
    margin-right: 30px;
}

.btn-browser{
	background-color: #23272a;
	color: white;
}
	

/* MAIN & SECTIONS */

main>section {
	padding: 50px 0;
}

main>section>.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	

	/* debug */
	min-height: 600px;
}

.bg-white {
	background-color: white;
	padding: 50px;
}

.bg-gray {
	background-color: lightgray;
}

.side-col {
	width: 30%;
    margin-top: 70px;
    align-self: flex-start;
}

.hilighted-content {
	/* debug */
	min-height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h2{
	font-size: 30px;
    padding: 40px;
    font-weight: bolder;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
}


/* FOOTER */

.footer-main {
	padding-top: 10px;
	padding: 5% 15%
}

.footer-upper {
	display: flex;
	padding-bottom: 50px;
	color: white;
	border-bottom: 2px solid rgb(161, 161, 250);

	min-height: 400px;
}

h3{
	font-size: 20px;
}

.language{
	display: flex;
	gap: 10px;
}

.language-flag{
	width: 30px;
}
.footer-main-col {
	width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.logo-social{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    column-gap: 15px;
}

.footer-side-col {
	display: flex;
	width: calc(100% / 3 * 2);
}

.footer-col {
	width: 25%;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;

}

.footer-bottom>* {
	padding: 5px 10px;

}

.footer-btn{
	padding: 10px;
	color: white;
	background-color:rgb(161, 161, 250)
}