/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

h1{
	font-size: 50px;
	font-weight: bolder;
}

button{
	border-radius: 40px;
	border: none;
}